/*.products wrappers {
  margin: 0 0 20px 0;
  width: 500px;
  height: 400px;
  border: 2px solid #CCC;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 80px);
  grid-template-rows: repeat(3, 100px);
  justify-content: center;
  align-content: end;
}

.contenedor1 {
  display: flex;
  background: #12fa;
  flex-direction: column;
}*/

.table{
    display: grid;
    /*grid-template-columns: ;
    grid-template-columns: ;*/
}