
.grilla{
    display: grid;
    grid-row-gap: 100px ;
    grid-column-gap: 100px;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-gap: 50px 50px;
    padding: 10px;

}


.imagen{
    width: 100%;
    height: auto;
}

.border{
    display: grid;
    grid-row-gap: 100px ;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-gap: 15px 50px;
    padding: 10px 0px;
    border-style: solid;
    border-color: #fb4201;
    justify-content: center;
    align-content: center;
    backface-visibility: hidden;
    display: flex;
    flex-flow: wrap ;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.border:hover{

    box-shadow:
      2px 2px 0 #AAA,
      6px 6px 2px #777,
      12px 12px 8px #444;
    box-shadow: #fb4201;
    -moz-transition: padding .25s;
    -webkit-transition: padding .25s;
    transition: padding .25s;
    transition-duration: 10s;
    animation: 20s slider infinite;
}

.border-title{
    display: grid;
    align-content: space-around;
}

.border a{
    margin: 0;
    padding: 0;
    style:none;
}


.rotate {
transform:
rotate(45deg)
scale(-1, 1);
/* para firefox, safari, chrome, etc. */
-webkit-transform:
rotate(45deg)
scale(-1, 1);
-moz-transform:
rotate(45deg)
scale(-1, 1);
/* para ie */
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0.5, mirror=1);
/* opera */
-o-transform:
rotate(45deg)
scale(-1, 1);
}

