.contenedor1 {
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 1em;
  padding: 50px;
}
.contenedor4{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 50px;
}


