{% extends 'layout.html'%}

{% block body %}

<div class="grilla">
    <h1 class="contenedor1">CATEGORIAS</h1>
    <div class="grilla2">
        <p>PARTES</p>
        <img src="{{url_for('static',filename='images/m.jpeg')}}" alt="categoria1">
    </div>

    <div class="grilla2">
        <p>PORTATILES</p>
        <img src="{{url_for('static',filename='images/h.jpeg')}}" alt="categoria2">
    </div>

     <div>
         <p>TELEVISORES</p>
        <img src="{{url_for('static',filename='images/disk.jpeg')}}" alt="categoria3">
     </div>

</div>




{% endblock %}