{% extends 'layout.html'%}

{% block body %}

    <h1 class="contenedor1"> CATEGORIAS</h1>

        <div class="grilla">
            <div class="border ">
                <p>HERRAMIENTAS</p>
                <img class="imagen" src="{{url_for('static',filename='images/tools.png')}}" alt="categoria5">
                <a href=""></a>
            </div>
            <div class="border">
                 <p>LAPTOPS</p>
                 <img class="imagen" src="{{url_for('static',filename='images/laptop.jpg')}}" alt="categoria2">
            </div>
            <div class="border">
                <p>DESKTOP</p>
                <img class="imagen" src="{{url_for('static',filename='images/AiO.png')}}" alt="categoria3">
            </div>
            <div class="border">
                <p>PERIFERISCOS</p>
                <img class="imagen" src="{{url_for('static',filename='images/perisferics.png')}}" alt="categoria4">
            </div>

            <div class="border">
                <p>COMPONENTES</p>
                <img class="imagen" src="{{url_for('static',filename='images/m.jpeg')}}" alt="categoria1">
            </div>
            <div class="border">
                <p>MONITORES</p>
                <img class="imagen" src="{{url_for('static',filename='images/monitor.jpeg')}}" alt="categoria6">
            </div>

        </div>







{% endblock %}