<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--<link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />-->
    <link rel="Stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="StyleSheet" href="{{url_for('static',filename='css/main.css')}}">    
    <link rel="StyleSheet" href="{{url_for('static',filename='css/products.css')}}">
    <title>TIENDA</title>
  </head>
  <body>

    {% block body%}

    {% endblock%}

    <script src="{{url_for('static', filename='bundle.js')}}"></script>
  </body>
</html>
