{% extends 'layout.html' %}
{% block content %}

<div class="main-panel">
  <div class="content">
    <div class="row d-flex justify-content-center">
        <DIV CLASS="col-md-6">
            <div class="jumbotron mt-3">
                <h1 class="display-2">THE STORE</h1>
            </div>

            <div id="wrapper-9cd199b9cc5410cd3b1ad21cab2e54d3">
            <div id="map-9cd199b9cc5410cd3b1ad21cab2e54d3"></div><script>(function () {
            var setting = {"height":557,"width":707,"zoom":7,"queryString":"Bogotá, Colombia","place_id":"ChIJKcumLf2bP44RFDmjIFVjnSM","satellite":false,"centerCoord":[4.557332813859613,-75.37821623207292],"cid":"0x239d635520a33914","lang":"es","cityUrl":"/colombia/bogota","cityAnchorText":"Mapa de Bogotá, Llanos, Colombia","id":"map-9cd199b9cc5410cd3b1ad21cab2e54d3","embed_id":"312975"};
            var d = document;
            var s = d.createElement('script');
            s.src = 'https://1map.com/js/script-for-user.js?embed_id=312975';
            s.async = true;
            s.onload = function (e) {
              window.OneMap.initMap(setting)
            };
            var to = d.getElementsByTagName('script')[0];
            to.parentNode.insertBefore(s, to);
          })();</script><a href="https://1map.com/es/map-embed">1 Map</a></div>
            </div>
        </DIV>
     <div class="contenedor4">
            <h1>THE STORE TEAM</h1>
        </div>

  </div>
</div>

{% endblock %}
