{% extends 'index.html'%}

{% block body %}



  <div class="container1">

    <h1 class="text-center">THE STORE</h1>




  </div>

  <div class="container2">
    <ul class="list">
      <li><a href="">INICIO</a></li>
      <li><a href="">PRODUCTO</a></li>
      <li><a href="">CATALOGO</a></li>
      <li><a href="">CONTACTENOS</a></li>
    </ul>

  </div>

  <div class="container3">
      <div><img src="" alt="">1</div>
      <div><img src="" alt="">2</div>
      <div><img src="" alt="">3</div>
      <div><img src="" alt="">4</div>
  </div>


{% endblock %}
