{% extends 'layout.html'%}

{% block body %}



<div class="contenedor1">

  <h1 >THE STORE</h1>

</div>

<div class="contenedor2">
  <ul class="list">
    <li><a href="">INICIO</a></li>
    <li><a href="{{url_for('products')}}">PRODUCTOS</a></li>
    <li><a href="{{url_for('category')}}">CATEGORIA</a></li>
    <li><a href="">CONTACTO</a></li>
  </ul>
</div>

<div class="contenedor3">
  <div>
      <img src="{{url_for('static',filename='imagenes/h.jpeg')}}" alt="">
      <img src="{{url_for('static',filename='imagenes/m.jpeg')}}" alt="">
      <img src="{{url_for('static',filename='imagenes/disk.jpeg')}}" alt="">
  </div>
</div>



<div class="contenedor4">
    <h1>Nosotros</h1>
        <p>Nuesta ubicacion</p>
        <p>Nosotros</p>

</div>


{% endblock %}