{% extends 'layout.html'%}

{% block body %}



<div class="contenedor1">

  <h1 >THE STORE</h1>

</div>

<div class="contenedor2">
  <ul class="list">
    <li class="element"><a href="">INICIO</a></li>
    <li class="element"><a href="{{url_for('products')}}">PRODUCTOS</a></li>
    <li class="element"><a href="{{url_for('category')}}">CATEGORIA</a></li>
    <li class="element"><a href="{{url_for('invoice')}}">FACTURA</a></li>
  </ul>
</div>

<div class="contenedor3">
  <div>
      <img src="{{url_for('static',filename='images/m.jpeg')}}" alt="">
      <img src="{{url_for('static',filename='images/h.jpeg')}}" alt="">
      <img src="{{url_for('static',filename='images/disk.jpeg')}}" alt="">
  </div>
</div>



<div class="contenedor4">
    <h1>THE STORE TEAM</h1>
    <div id="content">
       <!-- <H2>Nuesta ubicacion</H2>

        <H2>Nosotros</H2>-->
    </div>


</div>


{% endblock %}